@for (producto of _productos; track producto.id; ) {
@if (_productos.length > 0 && producto.rating.count > 0) {
<ng-container class="ng-container-producto">
  <div class="producto" [ngClass]="{'producto-destacado': esDestacado(producto)}">
    <div>
      <img [src]= "producto.image" alt="IMAGEN DE PRODUCTO">    
    </div>
    <div class="info">
      <div>
        <h2><span>Titulo:</span> {{producto.title}}</h2>
      </div>
      <div>
        <h2><span>Precio:</span> ${{producto.price}}</h2>
      </div>
      <div>
        <h2><span>Categoria:</span> {{producto.category}}</h2>
      </div>
      <div>
        <input type="button" class="btn-cantidad" value="-" (click)="restar(producto)">
        <input type="button" class="btn-cantidad" value="+" (click)="sumar(producto)">
        <input type="text" name="cantidad" id="cantidad" 
        (keyup)="cambiarValor($event, producto)" 
        [(ngModel)]="producto.rating.count">
        <input type="button" value="comprar" (click)="agregarProducto(producto)">
      </div>
    </div>

  </div>
</ng-container>
}
}@empty {
<span>
  <h1>NO HAY ELEMENTOS</h1>
</span>
}